
<%= link_to "sign out", destroy_user_session_path, method: :delete %>

<%= link_to "add movie", new_film_path %>
<%= link_to "show movie", films_path %>







<h1>index</h1>
<h1>welcome    <%=current_user.email%></h1>
